<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Ticket Card</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="container">
      <div class="ticket-card">
        <header class="ticket-header">
          <div>
            <h3 class="ticket-title">General Admission</h3>
            <p class="sales-text"><em>Sales end on Mar 20, 2026</em></p>
          </div>
          <div class="ticket-price">$499</div>
        </header>

        <div class="attendees">
          <i class="fa-solid fa-users"></i
          ><span>Over 500 attendees registered</span>
        </div>

        <button id="registerBtn">Register Now</button>

        <hr />

        <div class="actions">
          <a class="action-btn" id="shareBtn">
            <i class="fa-solid fa-share-nodes"></i>Share
          </a>
          <a class="action-btn" id="saveBtn">
            <i class="fa-regular fa-heart"></i>Save
          </a>
        </div>
      </div>
    </main>

    <script src="script.js"></script>
  </body>
</html>
